.header {
  display: flex;
  width: auto;
  height: 150px;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column-reverse;

  & h1 {
    justify-content: center;
    text-align: center;
    text-shadow: 4px 4px 2px $color-5;
    color: $color-2;
    font-size: 50px;
    padding: 10px;
    background: $color-1;
    border-radius: 15px;
    margin: 20px;
    font-family: $font-1;
  }
}

.button {
  display: flex;
  width: 200px;
  height: 30px;
  justify-content: space-around;
  margin: 10px;
  padding: 15px;

  & input {
    background: $color-2;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    width: 80px;
    color: $color-1;
  }
}
