.movie {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  & .search-input {
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: center;
    width: 300px;
    height: 80px;
    color: $color-1;
    background: $color-2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: -1px 1px 10px 1px rgba(215, 108, 88, 0.89);
    -webkit-box-shadow: -1px 1px 10px 1px rgba(215, 108, 88, 0.89);
    -moz-box-shadow: -1px 1px 10px 1px rgba(215, 108, 88, 0.89);
  }
  & h3 {
    margin: 10px auto;
  }
  & .write {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    background: $color-1;
    color: $color-4;
    font-size: 15px;
  }
}
.check-container {
  display: flex;
  justify-content: center;
  background: $color-1;
  height: 6vh;
  width: 300px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: space-around;
  align-items: center;
  box-shadow: -1px 1px 10px 1px rgba(215, 108, 88, 0.89);
  -webkit-box-shadow: -1px 1px 10px 1px rgba(215, 108, 88, 0.89);
  -moz-box-shadow: -1px 1px 10px 1px rgba(215, 108, 88, 0.89);

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    padding: 10px;
    border-radius: 15px;
    background: $color-2;
    color: $color-1;
    font-size: 15px;
    font-weight: 800;
  }
}
